# Node modules
node_modules/

# Environment variables
.env

# Coverage files
coverage/
coverage.json

# Typechain files
typechain/
typechain-types/

# Hardhat files
cache/
artifacts/

# Truffle files
build/
build/contracts/

# macOS system files
.DS_Store
